<html>
  <head>
    <title>Gossip #<%= gossip_number %></title>
  </head>
  <body>
    <h1>Gossip Page</h1>
    <p>This is the page of gossip #<%= gossip_number %></p>
    <p>Author: <%= gossip[0] %></p>
    <p>Content: <%= gossip[1] %></p>

    <a href="/gossips/<%= gossip_number %>/edit/">Edit this gossip</a>

    <a href="/">Back to gossip list</a>

  </body>
</html>